src/main/resources/wsdl/z_bapi_salesorder_simulate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__Z_BAPI_SALESORDER_SIMULATE">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__Z_BAPI_SALESORDER_SIMULATE_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__z_Bapi_Salesorder_Simulate">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration
                        xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                        wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>0022486C65F91EEDB9919407D04201A4
                    </sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__SalesorderSimulate">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
                </saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
                </sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
                </sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
                </saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions"
                    xmlns:tns="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char12">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char132">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="132"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char16">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char17">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="17"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char18">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="18"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char22">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="22"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char220">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="220"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char240">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="240"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char241">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="241"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char25">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char250">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="250"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char26">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="26"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char28">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="28"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char31">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="31"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char32">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char35">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char60">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char70">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="70"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char9">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="cuky5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr11.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="11"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr13.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="13"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr15.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="15"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal1.0">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="1"/>
                    <xsd:fractionDigits value="0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal23.4">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="23"/>
                    <xsd:fractionDigits value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal28.9">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="28"/>
                    <xsd:fractionDigits value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal5.0">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="5"/>
                    <xsd:fractionDigits value="0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal9.5">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="9"/>
                    <xsd:fractionDigits value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="lang">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric13">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="13"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="quantum13.3">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="13"/>
                    <xsd:fractionDigits value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="quantum15.3">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="15"/>
                    <xsd:fractionDigits value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="time">
                <xsd:restriction base="xsd:time">
                    <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="unit3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                    xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="Bapicuins">
                <xsd:sequence>
                    <xsd:element name="ConfigId" type="n0:char6"/>
                    <xsd:element name="InstId" type="n0:char8"/>
                    <xsd:element name="ObjType" type="n0:char10"/>
                    <xsd:element name="ClassType" type="n0:char3"/>
                    <xsd:element name="ObjKey" type="n0:char50"/>
                    <xsd:element name="ObjTxt" type="n0:char70"/>
                    <xsd:element name="Quantity" type="n0:char15"/>
                    <xsd:element name="Author" type="n0:char1"/>
                    <xsd:element name="QuantityUnit" type="n0:unit3"/>
                    <xsd:element name="Complete" type="n0:char1"/>
                    <xsd:element name="Consistent" type="n0:char1"/>
                    <xsd:element name="ObjectGuid" type="n0:char32"/>
                    <xsd:element name="PersistId" type="n0:char32"/>
                    <xsd:element name="PersistIdType" type="n0:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapicond">
                <xsd:sequence>
                    <xsd:element name="ItmNumber" type="n0:numeric6"/>
                    <xsd:element name="CondStNo" type="n0:numeric3"/>
                    <xsd:element name="CondCount" type="n0:numeric2"/>
                    <xsd:element name="CondType" type="n0:char4"/>
                    <xsd:element name="CondValue" type="n0:decimal28.9"/>
                    <xsd:element name="Currency" type="n0:cuky5"/>
                    <xsd:element name="CondUnit" type="n0:unit3"/>
                    <xsd:element name="CondPUnt" type="n0:decimal5.0"/>
                    <xsd:element name="CurrIso" type="n0:char3"/>
                    <xsd:element name="CdUntIso" type="n0:char3"/>
                    <xsd:element name="Refobjtype" type="n0:char10"/>
                    <xsd:element name="Refobjkey" type="n0:char70"/>
                    <xsd:element name="Reflogsys" type="n0:char10"/>
                    <xsd:element name="Applicatio" type="n0:char2"/>
                    <xsd:element name="Conpricdat" type="n0:date10"/>
                    <xsd:element name="Calctypcon" type="n0:char1"/>
                    <xsd:element name="Conbaseval" type="n0:decimal28.9"/>
                    <xsd:element name="Conexchrat" type="n0:decimal9.5"/>
                    <xsd:element name="Numconvert" type="n0:decimal5.0"/>
                    <xsd:element name="Denominato" type="n0:decimal5.0"/>
                    <xsd:element name="Condtype" type="n0:char1"/>
                    <xsd:element name="StatCon" type="n0:char1"/>
                    <xsd:element name="Scaletype" type="n0:char1"/>
                    <xsd:element name="Accruals" type="n0:char1"/>
                    <xsd:element name="Coninvolst" type="n0:char1"/>
                    <xsd:element name="Condorigin" type="n0:char1"/>
                    <xsd:element name="Groupcond" type="n0:char1"/>
                    <xsd:element name="CondUpdat" type="n0:char1"/>
                    <xsd:element name="AccessSeq" type="n0:numeric2"/>
                    <xsd:element name="Condcount" type="n0:numeric2"/>
                    <xsd:element name="Roundoffdi" type="n0:decimal28.9"/>
                    <xsd:element name="Condvalue" type="n0:decimal28.9"/>
                    <xsd:element name="Currency2" type="n0:cuky5"/>
                    <xsd:element name="CurrIso2" type="n0:char3"/>
                    <xsd:element name="Condcntrl" type="n0:char1"/>
                    <xsd:element name="Condisacti" type="n0:char1"/>
                    <xsd:element name="Condclass" type="n0:char1"/>
                    <xsd:element name="Factbasval" type="xsd:float"/>
                    <xsd:element name="Scalebasin" type="n0:char1"/>
                    <xsd:element name="Scalbasval" type="n0:decimal28.9"/>
                    <xsd:element name="Unitmeasur" type="n0:unit3"/>
                    <xsd:element name="IsoUnit" type="n0:char3"/>
                    <xsd:element name="Currenckey" type="n0:cuky5"/>
                    <xsd:element name="Curreniso" type="n0:char3"/>
                    <xsd:element name="Condincomp" type="n0:char1"/>
                    <xsd:element name="Condconfig" type="n0:char1"/>
                    <xsd:element name="Condchaman" type="n0:char1"/>
                    <xsd:element name="CondNo" type="n0:char10"/>
                    <xsd:element name="TaxCode" type="n0:char2"/>
                    <xsd:element name="Varcond" type="n0:char26"/>
                    <xsd:element name="Accountkey" type="n0:char3"/>
                    <xsd:element name="AccountKe" type="n0:char3"/>
                    <xsd:element name="WtWithcd" type="n0:char2"/>
                    <xsd:element name="Structcond" type="n0:char1"/>
                    <xsd:element name="Factconbas" type="xsd:float"/>
                    <xsd:element name="Condcoinhd" type="n0:numeric2"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapiitemex">
                <xsd:sequence>
                    <xsd:element name="ItmNumber" type="n0:numeric6"/>
                    <xsd:element name="PoItmNo" type="n0:char6"/>
                    <xsd:element name="Material" type="n0:char18"/>
                    <xsd:element name="MatEntrd" type="n0:char18"/>
                    <xsd:element name="ShortText" type="n0:char40"/>
                    <xsd:element name="NetValue" type="n0:numeric15"/>
                    <xsd:element name="Currency" type="n0:cuky5"/>
                    <xsd:element name="Subtotal1" type="n0:numeric15"/>
                    <xsd:element name="Subtotal2" type="n0:numeric15"/>
                    <xsd:element name="Subtotal3" type="n0:numeric15"/>
                    <xsd:element name="Subtotal4" type="n0:numeric15"/>
                    <xsd:element name="Subtotal5" type="n0:numeric15"/>
                    <xsd:element name="Subtotal6" type="n0:numeric15"/>
                    <xsd:element name="SalesUnit" type="n0:unit3"/>
                    <xsd:element name="QtyReqDt" type="n0:numeric13"/>
                    <xsd:element name="DlvDate" type="n0:date10"/>
                    <xsd:element name="ReplTime" type="n0:numeric3"/>
                    <xsd:element name="Configured" type="n0:char1"/>
                    <xsd:element name="PurchNoC" type="n0:char35"/>
                    <xsd:element name="PurchDate" type="n0:date10"/>
                    <xsd:element name="PoMethod" type="n0:char4"/>
                    <xsd:element name="Ref1" type="n0:char12"/>
                    <xsd:element name="PurchNoS" type="n0:char35"/>
                    <xsd:element name="PoDatS" type="n0:date10"/>
                    <xsd:element name="PoMethS" type="n0:char4"/>
                    <xsd:element name="Ref1S" type="n0:char12"/>
                    <xsd:element name="PoItmNoS" type="n0:char6"/>
                    <xsd:element name="NetValue1" type="n0:decimal23.4"/>
                    <xsd:element name="CurrIso" type="n0:char3"/>
                    <xsd:element name="SUnitIso" type="n0:char3"/>
                    <xsd:element name="ReqQty" type="n0:quantum15.3"/>
                    <xsd:element name="Plant" type="n0:char4"/>
                    <xsd:element name="TxDocCur" type="n0:decimal23.4"/>
                    <xsd:element name="MatExt" type="n0:char40"/>
                    <xsd:element name="MatGuid" type="n0:char32"/>
                    <xsd:element name="MatVers" type="n0:char10"/>
                    <xsd:element name="MatEExt" type="n0:char40"/>
                    <xsd:element name="MatEGuid" type="n0:char32"/>
                    <xsd:element name="MatEVers" type="n0:char10"/>
                    <xsd:element name="TargetQty" type="n0:quantum13.3"/>
                    <xsd:element name="TargetQu" type="n0:unit3"/>
                    <xsd:element name="TUnitIso" type="n0:char3"/>
                    <xsd:element name="ItemCateg" type="n0:char4"/>
                    <xsd:element name="ShipPoint" type="n0:char4"/>
                    <xsd:element name="HgLvItem" type="n0:numeric6"/>
                    <xsd:element name="CustMat" type="n0:char35"/>
                    <xsd:element name="PartDlv" type="n0:char1"/>
                    <xsd:element name="ReasonRej" type="n0:char2"/>
                    <xsd:element name="BillBlock" type="n0:char2"/>
                    <xsd:element name="StgeLoc" type="n0:char4"/>
                    <xsd:element name="ProdHier" type="n0:char18"/>
                    <xsd:element name="MatlGroup" type="n0:char9"/>
                    <xsd:element name="TSUBTOTAL1" type="n0:decimal23.4"/>
                    <xsd:element name="TSUBTOTAL2" type="n0:decimal23.4"/>
                    <xsd:element name="TSUBTOTAL3" type="n0:decimal23.4"/>
                    <xsd:element name="TSUBTOTAL4" type="n0:decimal23.4"/>
                    <xsd:element name="TSUBTOTAL5" type="n0:decimal23.4"/>
                    <xsd:element name="TSUBTOTAL6" type="n0:decimal23.4"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapisdhedu">
                <xsd:sequence>
                    <xsd:element name="Operation" type="n0:char3"/>
                    <xsd:element name="DocNumber" type="n0:char10"/>
                    <xsd:element name="ItmNumber" type="n0:numeric6"/>
                    <xsd:element name="SchedLine" type="n0:numeric4"/>
                    <xsd:element name="SchedType" type="n0:char2"/>
                    <xsd:element name="Relfordel" type="n0:char1"/>
                    <xsd:element name="ReqDate" type="n0:date10"/>
                    <xsd:element name="ReqTime" type="n0:time"/>
                    <xsd:element name="ReqQty" type="n0:quantum13.3"/>
                    <xsd:element name="ConfirQty" type="n0:quantum13.3"/>
                    <xsd:element name="SalesUnit" type="n0:unit3"/>
                    <xsd:element name="Isocodunit" type="n0:char3"/>
                    <xsd:element name="ReqQty1" type="n0:quantum13.3"/>
                    <xsd:element name="BaseUom" type="n0:unit3"/>
                    <xsd:element name="Isobasunit" type="n0:char3"/>
                    <xsd:element name="ReqDate1" type="n0:date10"/>
                    <xsd:element name="ReqType" type="n0:char2"/>
                    <xsd:element name="Pltype" type="n0:char1"/>
                    <xsd:element name="Busidocnr" type="n0:char10"/>
                    <xsd:element name="Busiitnr" type="n0:numeric6"/>
                    <xsd:element name="SchedLin1" type="n0:numeric4"/>
                    <xsd:element name="EarlDate" type="n0:date10"/>
                    <xsd:element name="MaintReq" type="n0:numeric10"/>
                    <xsd:element name="PreqNo" type="n0:char10"/>
                    <xsd:element name="PoType" type="n0:char4"/>
                    <xsd:element name="DocCat" type="n0:char1"/>
                    <xsd:element name="ConfStat" type="n0:char1"/>
                    <xsd:element name="IrInd" type="n0:char1"/>
                    <xsd:element name="Returndate" type="n0:date10"/>
                    <xsd:element name="DateType" type="n0:char1"/>
                    <xsd:element name="TpDate" type="n0:date10"/>
                    <xsd:element name="MsDate" type="n0:date10"/>
                    <xsd:element name="LoadDate" type="n0:date10"/>
                    <xsd:element name="GiDate" type="n0:date10"/>
                    <xsd:element name="CorrQty" type="n0:quantum13.3"/>
                    <xsd:element name="ReqDlvBl" type="n0:char2"/>
                    <xsd:element name="GrpDefin" type="n0:numeric3"/>
                    <xsd:element name="Releastyp" type="n0:char1"/>
                    <xsd:element name="ForcastNr" type="n0:numeric10"/>
                    <xsd:element name="CommitQty" type="n0:quantum13.3"/>
                    <xsd:element name="Size2" type="n0:quantum13.3"/>
                    <xsd:element name="Size3" type="n0:quantum13.3"/>
                    <xsd:element name="UnitMeas" type="n0:unit3"/>
                    <xsd:element name="IsoRomei" type="n0:char3"/>
                    <xsd:element name="Formulakey" type="n0:char2"/>
                    <xsd:element name="Salesqtynr" type="n0:decimal5.0"/>
                    <xsd:element name="Salesqtyde" type="n0:decimal5.0"/>
                    <xsd:element name="AvailCon" type="n0:char1"/>
                    <xsd:element name="MoveType" type="n0:char3"/>
                    <xsd:element name="PreqItem" type="n0:numeric5"/>
                    <xsd:element name="LintypEdi" type="n0:char1"/>
                    <xsd:element name="Orderid" type="n0:char12"/>
                    <xsd:element name="Planordnr" type="n0:char10"/>
                    <xsd:element name="BomexplNo" type="n0:char8"/>
                    <xsd:element name="Custchstat" type="n0:char17"/>
                    <xsd:element name="Guranteed" type="xsd:float"/>
                    <xsd:element name="MsTime" type="n0:time"/>
                    <xsd:element name="TpTime" type="n0:time"/>
                    <xsd:element name="LoadTime" type="n0:time"/>
                    <xsd:element name="GiTime" type="n0:time"/>
                    <xsd:element name="Routesched" type="n0:char10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapiret2">
                <xsd:sequence>
                    <xsd:element name="Type" type="n0:char1"/>
                    <xsd:element name="Id" type="n0:char20"/>
                    <xsd:element name="Number" type="n0:numeric3"/>
                    <xsd:element name="Message" type="n0:char220"/>
                    <xsd:element name="LogNo" type="n0:char20"/>
                    <xsd:element name="LogMsgNo" type="n0:numeric6"/>
                    <xsd:element name="MessageV1" type="n0:char50"/>
                    <xsd:element name="MessageV2" type="n0:char50"/>
                    <xsd:element name="MessageV3" type="n0:char50"/>
                    <xsd:element name="MessageV4" type="n0:char50"/>
                    <xsd:element name="Parameter" type="n0:char32"/>
                    <xsd:element name="Row" type="xsd:int"/>
                    <xsd:element name="Field" type="n0:char30"/>
                    <xsd:element name="System" type="n0:char10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapicuprt">
                <xsd:sequence>
                    <xsd:element name="ConfigId" type="n0:char6"/>
                    <xsd:element name="ParentId" type="n0:char8"/>
                    <xsd:element name="InstId" type="n0:char8"/>
                    <xsd:element name="PartOfNo" type="n0:char4"/>
                    <xsd:element name="ObjType" type="n0:char10"/>
                    <xsd:element name="ClassType" type="n0:char3"/>
                    <xsd:element name="ObjKey" type="n0:char50"/>
                    <xsd:element name="Author" type="n0:char1"/>
                    <xsd:element name="SalesRelevant" type="n0:char1"/>
                    <xsd:element name="PartOfGuid" type="n0:char32"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapipartnr">
                <xsd:sequence>
                    <xsd:element name="PartnRole" type="n0:char2"/>
                    <xsd:element name="PartnNumb" type="n0:char10"/>
                    <xsd:element name="ItmNumber" type="n0:numeric6"/>
                    <xsd:element name="Title" type="n0:char15"/>
                    <xsd:element name="Name" type="n0:char35"/>
                    <xsd:element name="Name2" type="n0:char35"/>
                    <xsd:element name="Name3" type="n0:char35"/>
                    <xsd:element name="Name4" type="n0:char35"/>
                    <xsd:element name="Street" type="n0:char35"/>
                    <xsd:element name="Country" type="n0:char3"/>
                    <xsd:element name="CountryIso" type="n0:char2"/>
                    <xsd:element name="PostlCode" type="n0:char10"/>
                    <xsd:element name="PobxPcd" type="n0:char10"/>
                    <xsd:element name="PobxCty" type="n0:char35"/>
                    <xsd:element name="City" type="n0:char35"/>
                    <xsd:element name="District" type="n0:char35"/>
                    <xsd:element name="Region" type="n0:char3"/>
                    <xsd:element name="PoBox" type="n0:char10"/>
                    <xsd:element name="Telephone" type="n0:char16"/>
                    <xsd:element name="Telephone2" type="n0:char16"/>
                    <xsd:element name="Telebox" type="n0:char15"/>
                    <xsd:element name="FaxNumber" type="n0:char31"/>
                    <xsd:element name="TeletexNo" type="n0:char30"/>
                    <xsd:element name="TelexNo" type="n0:char30"/>
                    <xsd:element name="Langu" type="n0:lang"/>
                    <xsd:element name="LanguIso" type="n0:char2"/>
                    <xsd:element name="UnloadPt" type="n0:char25"/>
                    <xsd:element name="Transpzone" type="n0:char10"/>
                    <xsd:element name="Taxjurcode" type="n0:char15"/>
                    <xsd:element name="Address" type="n0:char10"/>
                    <xsd:element name="PrivAddr" type="n0:char10"/>
                    <xsd:element name="AddrType" type="n0:char1"/>
                    <xsd:element name="AddrOrig" type="n0:char1"/>
                    <xsd:element name="AddrLink" type="n0:char10"/>
                    <xsd:element name="VatRegNo" type="n0:char20"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapisdhead">
                <xsd:sequence>
                    <xsd:element name="DocNumber" type="n0:char10"/>
                    <xsd:element name="DocType" type="n0:char4"/>
                    <xsd:element name="CollectNo" type="n0:char10"/>
                    <xsd:element name="SalesOrg" type="n0:char4"/>
                    <xsd:element name="DistrChan" type="n0:char2"/>
                    <xsd:element name="Division" type="n0:char2"/>
                    <xsd:element name="SalesGrp" type="n0:char3"/>
                    <xsd:element name="SalesOff" type="n0:char4"/>
                    <xsd:element name="ReqDateH" type="n0:date10"/>
                    <xsd:element name="DateType" type="n0:char1"/>
                    <xsd:element name="PurchNo" type="n0:char20"/>
                    <xsd:element name="PurchDate" type="n0:date10"/>
                    <xsd:element name="PoMethod" type="n0:char4"/>
                    <xsd:element name="PoSupplem" type="n0:char4"/>
                    <xsd:element name="Ref1" type="n0:char12"/>
                    <xsd:element name="Name" type="n0:char30"/>
                    <xsd:element name="Telephone" type="n0:char16"/>
                    <xsd:element name="PriceGrp" type="n0:char2"/>
                    <xsd:element name="CustGroup" type="n0:char2"/>
                    <xsd:element name="SalesDist" type="n0:char6"/>
                    <xsd:element name="PriceList" type="n0:char2"/>
                    <xsd:element name="Incoterms1" type="n0:char3"/>
                    <xsd:element name="Incoterms2" type="n0:char28"/>
                    <xsd:element name="Pmnttrms" type="n0:char4"/>
                    <xsd:element name="DlvBlock" type="n0:char2"/>
                    <xsd:element name="BillBlock" type="n0:char2"/>
                    <xsd:element name="OrdReason" type="n0:char3"/>
                    <xsd:element name="ComplDlv" type="n0:char1"/>
                    <xsd:element name="PriceDate" type="n0:date10"/>
                    <xsd:element name="QtValidF" type="n0:date10"/>
                    <xsd:element name="QtValidT" type="n0:date10"/>
                    <xsd:element name="CtValidF" type="n0:date10"/>
                    <xsd:element name="CtValidT" type="n0:date10"/>
                    <xsd:element name="CustGrp1" type="n0:char3"/>
                    <xsd:element name="CustGrp2" type="n0:char3"/>
                    <xsd:element name="CustGrp3" type="n0:char3"/>
                    <xsd:element name="CustGrp4" type="n0:char3"/>
                    <xsd:element name="CustGrp5" type="n0:char3"/>
                    <xsd:element name="PurchNoC" type="n0:char35"/>
                    <xsd:element name="PurchNoS" type="n0:char35"/>
                    <xsd:element name="PoDatS" type="n0:date10"/>
                    <xsd:element name="PoMethS" type="n0:char4"/>
                    <xsd:element name="Ref1S" type="n0:char12"/>
                    <xsd:element name="SdDocCat" type="n0:char1"/>
                    <xsd:element name="ShipCond" type="n0:char2"/>
                    <xsd:element name="Currency" type="n0:cuky5"/>
                    <xsd:element name="CurrencyIso" type="n0:char3"/>
                    <xsd:element name="DlvTime" type="n0:char3"/>
                    <xsd:element name="CdType1" type="n0:char4"/>
                    <xsd:element name="CdValue1" type="n0:decimal23.4"/>
                    <xsd:element name="CdPUnt1" type="n0:numeric5"/>
                    <xsd:element name="CdDUnt1" type="n0:unit3"/>
                    <xsd:element name="CdDUiso1" type="n0:char3"/>
                    <xsd:element name="CdCurr1" type="n0:cuky5"/>
                    <xsd:element name="CdCuIso1" type="n0:char3"/>
                    <xsd:element name="CdType2" type="n0:char4"/>
                    <xsd:element name="CdValue2" type="n0:decimal23.4"/>
                    <xsd:element name="CdPUnt2" type="n0:numeric5"/>
                    <xsd:element name="CdDUnt2" type="n0:unit3"/>
                    <xsd:element name="CdDUiso2" type="n0:char3"/>
                    <xsd:element name="CdCurr2" type="n0:cuky5"/>
                    <xsd:element name="CdCuIso2" type="n0:char3"/>
                    <xsd:element name="CdType3" type="n0:char4"/>
                    <xsd:element name="CdValue3" type="n0:decimal23.4"/>
                    <xsd:element name="CdPUnt3" type="n0:numeric5"/>
                    <xsd:element name="CdDUnt3" type="n0:unit3"/>
                    <xsd:element name="CdDUiso3" type="n0:char3"/>
                    <xsd:element name="CdCurr3" type="n0:cuky5"/>
                    <xsd:element name="CdCuIso3" type="n0:char3"/>
                    <xsd:element name="CdType4" type="n0:char4"/>
                    <xsd:element name="CdValue4" type="n0:decimal23.4"/>
                    <xsd:element name="CdPUnt4" type="n0:numeric5"/>
                    <xsd:element name="CdDUnt4" type="n0:unit3"/>
                    <xsd:element name="CdDUiso4" type="n0:char3"/>
                    <xsd:element name="CdCurr4" type="n0:cuky5"/>
                    <xsd:element name="CdCuIso4" type="n0:char3"/>
                    <xsd:element name="FkkConacct" type="n0:char12"/>
                    <xsd:element name="RefDoc" type="n0:char10"/>
                    <xsd:element name="RefDocCa" type="n0:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapiaddr1">
                <xsd:sequence>
                    <xsd:element name="AddrNo" type="n0:char10"/>
                    <xsd:element name="Formofaddr" type="n0:char20"/>
                    <xsd:element name="Name" type="n0:char40"/>
                    <xsd:element name="Name2" type="n0:char40"/>
                    <xsd:element name="Name3" type="n0:char40"/>
                    <xsd:element name="Name4" type="n0:char40"/>
                    <xsd:element name="COName" type="n0:char40"/>
                    <xsd:element name="City" type="n0:char40"/>
                    <xsd:element name="District" type="n0:char40"/>
                    <xsd:element name="CityNo" type="n0:char12"/>
                    <xsd:element name="PostlCod1" type="n0:char10"/>
                    <xsd:element name="PostlCod2" type="n0:char10"/>
                    <xsd:element name="PostlCod3" type="n0:char10"/>
                    <xsd:element name="PoBox" type="n0:char10"/>
                    <xsd:element name="PoBoxCit" type="n0:char40"/>
                    <xsd:element name="DelivDis" type="n0:char15"/>
                    <xsd:element name="Street" type="n0:char40"/>
                    <xsd:element name="StreetNo" type="n0:char12"/>
                    <xsd:element name="StrAbbr" type="n0:char2"/>
                    <xsd:element name="HouseNo" type="n0:char10"/>
                    <xsd:element name="StrSuppl1" type="n0:char40"/>
                    <xsd:element name="StrSuppl2" type="n0:char40"/>
                    <xsd:element name="Location" type="n0:char40"/>
                    <xsd:element name="Building" type="n0:char10"/>
                    <xsd:element name="Floor" type="n0:char10"/>
                    <xsd:element name="RoomNo" type="n0:char10"/>
                    <xsd:element name="Country" type="n0:char3"/>
                    <xsd:element name="Langu" type="n0:lang"/>
                    <xsd:element name="Region" type="n0:char3"/>
                    <xsd:element name="Sort1" type="n0:char20"/>
                    <xsd:element name="Sort2" type="n0:char20"/>
                    <xsd:element name="TimeZone" type="n0:char6"/>
                    <xsd:element name="Taxjurcode" type="n0:char15"/>
                    <xsd:element name="AdrNotes" type="n0:char50"/>
                    <xsd:element name="CommType" type="n0:char3"/>
                    <xsd:element name="Tel1Numbr" type="n0:char30"/>
                    <xsd:element name="Tel1Ext" type="n0:char10"/>
                    <xsd:element name="FaxNumber" type="n0:char30"/>
                    <xsd:element name="FaxExtens" type="n0:char10"/>
                    <xsd:element name="StreetLng" type="n0:char60"/>
                    <xsd:element name="DistrctNo" type="n0:char8"/>
                    <xsd:element name="Chckstatus" type="n0:char1"/>
                    <xsd:element name="PboxcitNo" type="n0:char12"/>
                    <xsd:element name="Transpzone" type="n0:char10"/>
                    <xsd:element name="HouseNo2" type="n0:char10"/>
                    <xsd:element name="EMail" type="n0:char241"/>
                    <xsd:element name="StrSuppl3" type="n0:char40"/>
                    <xsd:element name="Title" type="n0:char30"/>
                    <xsd:element name="Countryiso" type="n0:char2"/>
                    <xsd:element name="LanguIso" type="n0:char2"/>
                    <xsd:element name="BuildLong" type="n0:char20"/>
                    <xsd:element name="Regiogroup" type="n0:char8"/>
                    <xsd:element name="HomeCity" type="n0:char40"/>
                    <xsd:element name="Homecityno" type="n0:char12"/>
                    <xsd:element name="Pcode1Ext" type="n0:char10"/>
                    <xsd:element name="Pcode2Ext" type="n0:char10"/>
                    <xsd:element name="Pcode3Ext" type="n0:char10"/>
                    <xsd:element name="PoWONo" type="n0:char1"/>
                    <xsd:element name="PoBoxReg" type="n0:char3"/>
                    <xsd:element name="PoboxCtry" type="n0:char3"/>
                    <xsd:element name="PoCtryiso" type="n0:char2"/>
                    <xsd:element name="Homepage" type="n0:char132"/>
                    <xsd:element name="DontUseS" type="n0:char4"/>
                    <xsd:element name="DontUseP" type="n0:char4"/>
                    <xsd:element name="HouseNo3" type="n0:char10"/>
                    <xsd:element name="LanguCr" type="n0:lang"/>
                    <xsd:element name="Langucriso" type="n0:char2"/>
                    <xsd:element name="PoBoxLobby" type="n0:char40"/>
                    <xsd:element name="DeliServType" type="n0:char4"/>
                    <xsd:element name="DeliServNumber" type="n0:char10"/>
                    <xsd:element name="UriType" type="n0:char3"/>
                    <xsd:element name="CountyCode" type="n0:char8"/>
                    <xsd:element name="County" type="n0:char40"/>
                    <xsd:element name="TownshipCode" type="n0:char8"/>
                    <xsd:element name="Township" type="n0:char40"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapiitemin">
                <xsd:sequence>
                    <xsd:element name="ItmNumber" type="n0:numeric6"/>
                    <xsd:element name="HgLvItem" type="n0:numeric6"/>
                    <xsd:element name="PoItmNo" type="n0:char6"/>
                    <xsd:element name="Material" type="n0:char18"/>
                    <xsd:element name="CustMat" type="n0:char22"/>
                    <xsd:element name="Batch" type="n0:char10"/>
                    <xsd:element name="DlvGroup" type="n0:numeric3"/>
                    <xsd:element name="PartDlv" type="n0:char1"/>
                    <xsd:element name="ReasonRej" type="n0:char2"/>
                    <xsd:element name="BillBlock" type="n0:char2"/>
                    <xsd:element name="BillDate" type="n0:date10"/>
                    <xsd:element name="Plant" type="n0:char4"/>
                    <xsd:element name="StoreLoc" type="n0:char4"/>
                    <xsd:element name="TargetQty" type="n0:numeric13"/>
                    <xsd:element name="TargetQu" type="n0:unit3"/>
                    <xsd:element name="ReqQty" type="n0:numeric13"/>
                    <xsd:element name="SalesUnit" type="n0:unit3"/>
                    <xsd:element name="ItemCateg" type="n0:char4"/>
                    <xsd:element name="ShortText" type="n0:char40"/>
                    <xsd:element name="ReqDate" type="n0:date10"/>
                    <xsd:element name="DateType" type="n0:char1"/>
                    <xsd:element name="ReqTime" type="n0:time"/>
                    <xsd:element name="CondType" type="n0:char4"/>
                    <xsd:element name="CondValue" type="n0:curr11.2"/>
                    <xsd:element name="CondPUnt" type="n0:numeric5"/>
                    <xsd:element name="CondDUnt" type="n0:unit3"/>
                    <xsd:element name="PrcGroup1" type="n0:char3"/>
                    <xsd:element name="PrcGroup2" type="n0:char3"/>
                    <xsd:element name="PrcGroup3" type="n0:char3"/>
                    <xsd:element name="PrcGroup4" type="n0:char3"/>
                    <xsd:element name="PrcGroup5" type="n0:char3"/>
                    <xsd:element name="ProdHiera" type="n0:char18"/>
                    <xsd:element name="MatlGroup" type="n0:char9"/>
                    <xsd:element name="PurchNoC" type="n0:char35"/>
                    <xsd:element name="PurchDate" type="n0:date10"/>
                    <xsd:element name="PoMethod" type="n0:char4"/>
                    <xsd:element name="Ref1" type="n0:char12"/>
                    <xsd:element name="PurchNoS" type="n0:char35"/>
                    <xsd:element name="PoDatS" type="n0:date10"/>
                    <xsd:element name="PoMethS" type="n0:char4"/>
                    <xsd:element name="Ref1S" type="n0:char12"/>
                    <xsd:element name="PoItmNoS" type="n0:char6"/>
                    <xsd:element name="CondVal1" type="n0:decimal23.4"/>
                    <xsd:element name="Currency" type="n0:cuky5"/>
                    <xsd:element name="CurrIso" type="n0:char3"/>
                    <xsd:element name="TUnitIso" type="n0:char3"/>
                    <xsd:element name="SUnitIso" type="n0:char3"/>
                    <xsd:element name="CdUntIso" type="n0:char3"/>
                    <xsd:element name="CustMat35" type="n0:char35"/>
                    <xsd:element name="Incoterms1" type="n0:char3"/>
                    <xsd:element name="Incoterms2" type="n0:char28"/>
                    <xsd:element name="DlvTime" type="n0:char3"/>
                    <xsd:element name="AssortMod" type="n0:char18"/>
                    <xsd:element name="ValContr" type="n0:char10"/>
                    <xsd:element name="ValConI" type="n0:numeric6"/>
                    <xsd:element name="RefDoc" type="n0:char10"/>
                    <xsd:element name="RefDocIt" type="n0:numeric6"/>
                    <xsd:element name="RefDocCa" type="n0:char1"/>
                    <xsd:element name="CdType2" type="n0:char4"/>
                    <xsd:element name="CdValue2" type="n0:decimal23.4"/>
                    <xsd:element name="CdPUnt2" type="n0:numeric5"/>
                    <xsd:element name="CdDUnt2" type="n0:unit3"/>
                    <xsd:element name="CdDUiso2" type="n0:char3"/>
                    <xsd:element name="CdCurr2" type="n0:cuky5"/>
                    <xsd:element name="CdCuIso2" type="n0:char3"/>
                    <xsd:element name="CdType3" type="n0:char4"/>
                    <xsd:element name="CdValue3" type="n0:decimal23.4"/>
                    <xsd:element name="CdPUnt3" type="n0:numeric5"/>
                    <xsd:element name="CdDUnt3" type="n0:unit3"/>
                    <xsd:element name="CdDUiso3" type="n0:char3"/>
                    <xsd:element name="CdCurr3" type="n0:cuky5"/>
                    <xsd:element name="CdCuIso3" type="n0:char3"/>
                    <xsd:element name="CdType4" type="n0:char4"/>
                    <xsd:element name="CdValue4" type="n0:decimal23.4"/>
                    <xsd:element name="CdPUnt4" type="n0:numeric5"/>
                    <xsd:element name="CdDUnt4" type="n0:unit3"/>
                    <xsd:element name="CdDUiso4" type="n0:char3"/>
                    <xsd:element name="CdCurr4" type="n0:cuky5"/>
                    <xsd:element name="CdCuIso4" type="n0:char3"/>
                    <xsd:element name="MatExt" type="n0:char40"/>
                    <xsd:element name="MatGuid" type="n0:char32"/>
                    <xsd:element name="MatVers" type="n0:char10"/>
                    <xsd:element name="AlternBom" type="n0:char2"/>
                    <xsd:element name="FkkConacct" type="n0:char12"/>
                    <xsd:element name="EanUpc" type="n0:char18"/>
                    <xsd:element name="ShipPoint" type="n0:char4"/>
                    <xsd:element name="Prodcat" type="n0:char10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapiparex">
                <xsd:sequence>
                    <xsd:element name="Structure" type="n0:char30"/>
                    <xsd:element name="Valuepart1" type="n0:char240"/>
                    <xsd:element name="Valuepart2" type="n0:char240"/>
                    <xsd:element name="Valuepart3" type="n0:char240"/>
                    <xsd:element name="Valuepart4" type="n0:char240"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapiincomp">
                <xsd:sequence>
                    <xsd:element name="DocNumber" type="n0:char10"/>
                    <xsd:element name="ItmNumber" type="n0:numeric6"/>
                    <xsd:element name="SchedLine" type="n0:numeric4"/>
                    <xsd:element name="PartnRole" type="n0:char2"/>
                    <xsd:element name="TableName" type="n0:char30"/>
                    <xsd:element name="FieldName" type="n0:char30"/>
                    <xsd:element name="FieldText" type="n0:char40"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapiccard">
                <xsd:sequence>
                    <xsd:element name="CcType" type="n0:char4"/>
                    <xsd:element name="CcNumber" type="n0:char25"/>
                    <xsd:element name="CcValidT" type="n0:date10"/>
                    <xsd:element name="CcName" type="n0:char40"/>
                    <xsd:element name="Billamount" type="n0:decimal23.4"/>
                    <xsd:element name="AuthFlag" type="n0:char1"/>
                    <xsd:element name="Authamount" type="n0:decimal23.4"/>
                    <xsd:element name="Currency" type="n0:cuky5"/>
                    <xsd:element name="CurrIso" type="n0:char3"/>
                    <xsd:element name="AuthDate" type="n0:date10"/>
                    <xsd:element name="AuthTime" type="n0:time"/>
                    <xsd:element name="AuthCcNo" type="n0:char10"/>
                    <xsd:element name="AuthRefno" type="n0:char15"/>
                    <xsd:element name="CcReact" type="n0:char1"/>
                    <xsd:element name="CcReAmount" type="n0:decimal23.4"/>
                    <xsd:element name="GlAccount" type="n0:char10"/>
                    <xsd:element name="CcStatEx" type="n0:char1"/>
                    <xsd:element name="CcReactT" type="n0:char40"/>
                    <xsd:element name="VirtCard" type="n0:char1"/>
                    <xsd:element name="Merchidcl" type="n0:char15"/>
                    <xsd:element name="PreAuth" type="n0:char1"/>
                    <xsd:element name="CcSeqNo" type="n0:char10"/>
                    <xsd:element name="Amountchan" type="n0:char1"/>
                    <xsd:element name="Authortype" type="n0:char1"/>
                    <xsd:element name="Dataorigin" type="n0:char1"/>
                    <xsd:element name="Radrcheck1" type="n0:char4"/>
                    <xsd:element name="Radrcheck2" type="n0:char4"/>
                    <xsd:element name="Radrcheck3" type="n0:char4"/>
                    <xsd:element name="Rcardcheck" type="n0:char4"/>
                    <xsd:element name="CcLimited" type="n0:char1"/>
                    <xsd:element name="CcVerifValue" type="n0:char6"/>
                    <xsd:element name="CcCtrlField" type="n0:char1"/>
                    <xsd:element name="CcInUseSt" type="n0:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapicuval">
                <xsd:sequence>
                    <xsd:element name="ConfigId" type="n0:char6"/>
                    <xsd:element name="InstId" type="n0:char8"/>
                    <xsd:element name="Charc" type="n0:char40"/>
                    <xsd:element name="CharcTxt" type="n0:char70"/>
                    <xsd:element name="Value" type="n0:char40"/>
                    <xsd:element name="ValueTxt" type="n0:char70"/>
                    <xsd:element name="Author" type="n0:char1"/>
                    <xsd:element name="ValueTo" type="n0:char40"/>
                    <xsd:element name="Valcode" type="n0:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapischdl">
                <xsd:sequence>
                    <xsd:element name="ItmNumber" type="n0:numeric6"/>
                    <xsd:element name="SchedLine" type="n0:numeric4"/>
                    <xsd:element name="ReqDate" type="n0:date10"/>
                    <xsd:element name="DateType" type="n0:char1"/>
                    <xsd:element name="ReqTime" type="n0:time"/>
                    <xsd:element name="ReqQty" type="n0:quantum13.3"/>
                    <xsd:element name="ReqDlvBl" type="n0:char2"/>
                    <xsd:element name="SchedType" type="n0:char2"/>
                    <xsd:element name="TpDate" type="n0:date10"/>
                    <xsd:element name="MsDate" type="n0:date10"/>
                    <xsd:element name="LoadDate" type="n0:date10"/>
                    <xsd:element name="GiDate" type="n0:date10"/>
                    <xsd:element name="TpTime" type="n0:time"/>
                    <xsd:element name="MsTime" type="n0:time"/>
                    <xsd:element name="LoadTime" type="n0:time"/>
                    <xsd:element name="GiTime" type="n0:time"/>
                    <xsd:element name="Refobjtype" type="n0:char10"/>
                    <xsd:element name="Refobjkey" type="n0:char70"/>
                    <xsd:element name="Reflogsys" type="n0:char10"/>
                    <xsd:element name="DlvDate" type="n0:date10"/>
                    <xsd:element name="DlvTime" type="n0:time"/>
                    <xsd:element name="RelType" type="n0:char1"/>
                    <xsd:element name="PlanSchedType" type="n0:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapicublb">
                <xsd:sequence>
                    <xsd:element name="ConfigId" type="n0:char6"/>
                    <xsd:element name="Context" type="n0:char250"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapicucfg">
                <xsd:sequence>
                    <xsd:element name="Posex" type="n0:char6"/>
                    <xsd:element name="ConfigId" type="n0:char6"/>
                    <xsd:element name="RootId" type="n0:char8"/>
                    <xsd:element name="Sce" type="n0:char1"/>
                    <xsd:element name="Kbname" type="n0:char30"/>
                    <xsd:element name="Kbversion" type="n0:char30"/>
                    <xsd:element name="Complete" type="n0:char1"/>
                    <xsd:element name="Consistent" type="n0:char1"/>
                    <xsd:element name="Cfginfo" type="n0:char250"/>
                    <xsd:element name="Kbprofile" type="n0:char30"/>
                    <xsd:element name="Kblanguage" type="n0:lang"/>
                    <xsd:element name="CbaseId" type="n0:char32"/>
                    <xsd:element name="CbaseIdType" type="n0:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BapiccardEx">
                <xsd:sequence>
                    <xsd:element name="PayType" type="n0:char1"/>
                    <xsd:element name="CcType" type="n0:char4"/>
                    <xsd:element name="CcNumber" type="n0:char25"/>
                    <xsd:element name="CcSeqNo" type="n0:char10"/>
                    <xsd:element name="CcValidF" type="n0:date10"/>
                    <xsd:element name="CcValidT" type="n0:date10"/>
                    <xsd:element name="CcName" type="n0:char40"/>
                    <xsd:element name="Authamount" type="n0:decimal23.4"/>
                    <xsd:element name="Currency" type="n0:cuky5"/>
                    <xsd:element name="CurrIso" type="n0:char3"/>
                    <xsd:element name="AuthDate" type="n0:date10"/>
                    <xsd:element name="AuthTime" type="n0:time"/>
                    <xsd:element name="Merchidcl" type="n0:char15"/>
                    <xsd:element name="Terminal" type="n0:char10"/>
                    <xsd:element name="Billamount" type="n0:decimal23.4"/>
                    <xsd:element name="CcLiAmount" type="n0:char1"/>
                    <xsd:element name="CcAutthNo" type="n0:char10"/>
                    <xsd:element name="Billstatus" type="n0:char1"/>
                    <xsd:element name="Dataorigin" type="n0:char1"/>
                    <xsd:element name="CcSettled" type="n0:char1"/>
                    <xsd:element name="AuthRefno" type="n0:char15"/>
                    <xsd:element name="Ptofrcpt" type="n0:char10"/>
                    <xsd:element name="CcReact" type="n0:char1"/>
                    <xsd:element name="AuthFlag" type="n0:char1"/>
                    <xsd:element name="BillPlan" type="n0:char10"/>
                    <xsd:element name="BillPlani" type="n0:numeric6"/>
                    <xsd:element name="CcReAmount" type="n0:decimal23.4"/>
                    <xsd:element name="GlAccount" type="n0:char10"/>
                    <xsd:element name="CcStatEx" type="n0:char1"/>
                    <xsd:element name="CcReactT" type="n0:char40"/>
                    <xsd:element name="Rfcaut" type="n0:char32"/>
                    <xsd:element name="AutSetinit" type="n0:char30"/>
                    <xsd:element name="AutSetinfo" type="n0:char30"/>
                    <xsd:element name="PreAuth" type="n0:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapishipto">
                <xsd:sequence>
                    <xsd:element name="ShipTo" type="n0:char10"/>
                    <xsd:element name="Name" type="n0:char35"/>
                    <xsd:element name="Street" type="n0:char30"/>
                    <xsd:element name="PoBox" type="n0:char10"/>
                    <xsd:element name="PostlCode" type="n0:char10"/>
                    <xsd:element name="PobxPcd" type="n0:char10"/>
                    <xsd:element name="City" type="n0:char25"/>
                    <xsd:element name="Langu" type="n0:lang"/>
                    <xsd:element name="DestCntry" type="n0:char3"/>
                    <xsd:element name="TrnspZone" type="n0:char10"/>
                    <xsd:element name="TrainStat" type="n0:char25"/>
                    <xsd:element name="ExprStat" type="n0:char25"/>
                    <xsd:element name="Telephone" type="n0:char16"/>
                    <xsd:element name="UnloadPt" type="n0:char25"/>
                    <xsd:element name="FacCalend" type="n0:char2"/>
                    <xsd:element name="RecvHours" type="n0:char3"/>
                    <xsd:element name="MoAmFrom" type="n0:time"/>
                    <xsd:element name="MoAmUntl" type="n0:time"/>
                    <xsd:element name="MoPmFrom" type="n0:time"/>
                    <xsd:element name="MoPmUntl" type="n0:time"/>
                    <xsd:element name="TuAmFrom" type="n0:time"/>
                    <xsd:element name="TuAmUntl" type="n0:time"/>
                    <xsd:element name="TuPmFrom" type="n0:time"/>
                    <xsd:element name="TuPmUntl" type="n0:time"/>
                    <xsd:element name="WeAmFrom" type="n0:time"/>
                    <xsd:element name="WrAmUntl" type="n0:time"/>
                    <xsd:element name="WePmFrom" type="n0:time"/>
                    <xsd:element name="WePmUntl" type="n0:time"/>
                    <xsd:element name="ThAmFrom" type="n0:time"/>
                    <xsd:element name="ThAmUntl" type="n0:time"/>
                    <xsd:element name="ThPmFrom" type="n0:time"/>
                    <xsd:element name="ThPmUntl" type="n0:time"/>
                    <xsd:element name="FrAmFrom" type="n0:time"/>
                    <xsd:element name="FrAmUntl" type="n0:time"/>
                    <xsd:element name="FrPmFrom" type="n0:time"/>
                    <xsd:element name="FrPmUntl" type="n0:time"/>
                    <xsd:element name="SaAmFrom" type="n0:time"/>
                    <xsd:element name="SaAmUntl" type="n0:time"/>
                    <xsd:element name="SaPmFrom" type="n0:time"/>
                    <xsd:element name="SaPmUntl" type="n0:time"/>
                    <xsd:element name="SuAmFrom" type="n0:time"/>
                    <xsd:element name="SuAmUntl" type="n0:time"/>
                    <xsd:element name="SuPmFrom" type="n0:time"/>
                    <xsd:element name="SuPmUntl" type="n0:time"/>
                    <xsd:element name="VatRegNo" type="n0:char20"/>
                    <xsd:element name="TaxClass1" type="n0:char1"/>
                    <xsd:element name="TaxClass2" type="n0:char1"/>
                    <xsd:element name="TaxClass3" type="n0:char1"/>
                    <xsd:element name="TaxClass4" type="n0:char1"/>
                    <xsd:element name="TaxClass5" type="n0:char1"/>
                    <xsd:element name="TaxClass6" type="n0:char1"/>
                    <xsd:element name="TaxClass7" type="n0:char1"/>
                    <xsd:element name="TaxClass8" type="n0:char1"/>
                    <xsd:element name="TaxClass9" type="n0:char1"/>
                    <xsd:element name="Region" type="n0:char3"/>
                    <xsd:element name="CountyCde" type="n0:char3"/>
                    <xsd:element name="CityCode" type="n0:char4"/>
                    <xsd:element name="Taxjurcode" type="n0:char15"/>
                    <xsd:element name="CtrdataOk" type="n0:char1"/>
                    <xsd:element name="DlvPlant" type="n0:char4"/>
                    <xsd:element name="DlvBlock" type="n0:char2"/>
                    <xsd:element name="OrderBlck" type="n0:char2"/>
                    <xsd:element name="ProdProp" type="n0:char10"/>
                    <xsd:element name="ShipCond" type="n0:char2"/>
                    <xsd:element name="Acc1Time" type="n0:char1"/>
                    <xsd:element name="AccntGrp" type="n0:char4"/>
                    <xsd:element name="DescPartn" type="n0:char30"/>
                    <xsd:element name="FyVariant" type="n0:char2"/>
                    <xsd:element name="ProdAttr1" type="n0:char1"/>
                    <xsd:element name="ProdAttr2" type="n0:char1"/>
                    <xsd:element name="ProdAttr3" type="n0:char1"/>
                    <xsd:element name="ProdAttr4" type="n0:char1"/>
                    <xsd:element name="ProdAttr5" type="n0:char1"/>
                    <xsd:element name="ProdAttr6" type="n0:char1"/>
                    <xsd:element name="ProdAttr7" type="n0:char1"/>
                    <xsd:element name="ProdAttr8" type="n0:char1"/>
                    <xsd:element name="ProdAttr9" type="n0:char1"/>
                    <xsd:element name="ProdAttra" type="n0:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapireturn">
                <xsd:sequence>
                    <xsd:element name="Type" type="n0:char1"/>
                    <xsd:element name="Code" type="n0:char5"/>
                    <xsd:element name="Message" type="n0:char220"/>
                    <xsd:element name="LogNo" type="n0:char20"/>
                    <xsd:element name="LogMsgNo" type="n0:numeric6"/>
                    <xsd:element name="MessageV1" type="n0:char50"/>
                    <xsd:element name="MessageV2" type="n0:char50"/>
                    <xsd:element name="MessageV3" type="n0:char50"/>
                    <xsd:element name="MessageV4" type="n0:char50"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapisoldto">
                <xsd:sequence>
                    <xsd:element name="SoldTo" type="n0:char10"/>
                    <xsd:element name="Name" type="n0:char35"/>
                    <xsd:element name="Street" type="n0:char30"/>
                    <xsd:element name="PoBox" type="n0:char10"/>
                    <xsd:element name="PostlCode" type="n0:char10"/>
                    <xsd:element name="PobxPcd" type="n0:char10"/>
                    <xsd:element name="City" type="n0:char25"/>
                    <xsd:element name="Langu" type="n0:lang"/>
                    <xsd:element name="Country" type="n0:char3"/>
                    <xsd:element name="Telephone" type="n0:char16"/>
                    <xsd:element name="StatGroup" type="n0:char1"/>
                    <xsd:element name="OrderBlck" type="n0:char2"/>
                    <xsd:element name="PrcProced" type="n0:char1"/>
                    <xsd:element name="CustGroup" type="n0:char2"/>
                    <xsd:element name="SalesDist" type="n0:char6"/>
                    <xsd:element name="PriceGrp" type="n0:char2"/>
                    <xsd:element name="PriceList" type="n0:char2"/>
                    <xsd:element name="Incoterms1" type="n0:char3"/>
                    <xsd:element name="Incoterms2" type="n0:char28"/>
                    <xsd:element name="ComplDlv" type="n0:char1"/>
                    <xsd:element name="MaxPlDlv" type="n0:decimal1.0"/>
                    <xsd:element name="OrderComb" type="n0:char1"/>
                    <xsd:element name="BtchSplit" type="n0:char1"/>
                    <xsd:element name="DlvPrio" type="n0:numeric2"/>
                    <xsd:element name="Currency" type="n0:cuky5"/>
                    <xsd:element name="ExchgRate" type="n0:char4"/>
                    <xsd:element name="ShipCond" type="n0:char2"/>
                    <xsd:element name="PartDlv" type="n0:char1"/>
                    <xsd:element name="OrderProb" type="n0:numeric3"/>
                    <xsd:element name="DlvBlock" type="n0:char2"/>
                    <xsd:element name="ProdProp" type="n0:char10"/>
                    <xsd:element name="Acc1Time" type="n0:char1"/>
                    <xsd:element name="SalesOff" type="n0:char4"/>
                    <xsd:element name="SalesGrp" type="n0:char3"/>
                    <xsd:element name="VatRegNo" type="n0:char20"/>
                    <xsd:element name="TaxClass1" type="n0:char1"/>
                    <xsd:element name="TaxClass2" type="n0:char1"/>
                    <xsd:element name="TaxClass3" type="n0:char1"/>
                    <xsd:element name="TaxClass4" type="n0:char1"/>
                    <xsd:element name="TaxClass5" type="n0:char1"/>
                    <xsd:element name="TaxClass6" type="n0:char1"/>
                    <xsd:element name="TaxClass7" type="n0:char1"/>
                    <xsd:element name="TaxClass8" type="n0:char1"/>
                    <xsd:element name="TaxClass9" type="n0:char1"/>
                    <xsd:element name="CompanyId" type="n0:char6"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapipayer">
                <xsd:sequence>
                    <xsd:element name="Payer" type="n0:char10"/>
                    <xsd:element name="Name" type="n0:char35"/>
                    <xsd:element name="Street" type="n0:char30"/>
                    <xsd:element name="PoBox" type="n0:char10"/>
                    <xsd:element name="PostlCode" type="n0:char10"/>
                    <xsd:element name="PobxPcd" type="n0:char10"/>
                    <xsd:element name="City" type="n0:char25"/>
                    <xsd:element name="Langu" type="n0:lang"/>
                    <xsd:element name="Country" type="n0:char3"/>
                    <xsd:element name="Telephone" type="n0:char16"/>
                    <xsd:element name="CCtrArea" type="n0:char4"/>
                    <xsd:element name="CredAccnt" type="n0:char10"/>
                    <xsd:element name="CredLimit" type="n0:curr15.2"/>
                    <xsd:element name="OrderVals" type="n0:curr15.2"/>
                    <xsd:element name="RcvblVals" type="n0:curr15.2"/>
                    <xsd:element name="CredLiab" type="n0:curr15.2"/>
                    <xsd:element name="Currency" type="n0:cuky5"/>
                    <xsd:element name="MnInvoice" type="n0:char1"/>
                    <xsd:element name="BillSched" type="n0:char2"/>
                    <xsd:element name="ListSched" type="n0:char2"/>
                    <xsd:element name="ValLimit" type="n0:curr13.2"/>
                    <xsd:element name="AccntAsgn" type="n0:char2"/>
                    <xsd:element name="Pmnttrms" type="n0:char4"/>
                    <xsd:element name="AddValDy" type="n0:numeric2"/>
                    <xsd:element name="FixValDy" type="n0:date10"/>
                    <xsd:element name="ProdProp" type="n0:char10"/>
                    <xsd:element name="BillBlock" type="n0:char2"/>
                    <xsd:element name="OrderBlck" type="n0:char2"/>
                    <xsd:element name="VatRegNo" type="n0:char20"/>
                    <xsd:element name="VatCntry" type="n0:char3"/>
                    <xsd:element name="TaxClass1" type="n0:char1"/>
                    <xsd:element name="TaxClass2" type="n0:char1"/>
                    <xsd:element name="TaxClass3" type="n0:char1"/>
                    <xsd:element name="TaxClass4" type="n0:char1"/>
                    <xsd:element name="TaxClass5" type="n0:char1"/>
                    <xsd:element name="TaxClass6" type="n0:char1"/>
                    <xsd:element name="TaxClass7" type="n0:char1"/>
                    <xsd:element name="TaxClass8" type="n0:char1"/>
                    <xsd:element name="TaxClass9" type="n0:char1"/>
                    <xsd:element name="RebateRel" type="n0:char1"/>
                    <xsd:element name="RebateFrm" type="n0:date10"/>
                    <xsd:element name="CredGroup" type="n0:char4"/>
                    <xsd:element name="ReprGroup" type="n0:char3"/>
                    <xsd:element name="RiskCateg" type="n0:char3"/>
                    <xsd:element name="TradeId" type="n0:char6"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapicuins">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapicuins" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapicond">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapicond" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapiitemex">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapiitemex" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapisdhedu">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapisdhedu" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapiret2">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapicuprt">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapicuprt" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapipartnr">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapipartnr" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapiaddr1">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapiaddr1" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapiitemin">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapiitemin" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapiparex">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapiparex" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapiincomp">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapiincomp" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapiccard">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapiccard" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapicuval">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapicuval" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapischdl">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapischdl" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapicublb">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapicublb" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapicucfg">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapicucfg" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapiccardEx">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:BapiccardEx" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SalesorderSimulate">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ConvertParvwAuart" type="n0:char1" minOccurs="0"/>
                        <xsd:element name="Extensionin" type="tns:TableOfBapiparex" minOccurs="0"/>
                        <xsd:element name="Messagetable" type="tns:TableOfBapiret2" minOccurs="0"/>
                        <xsd:element name="OrderCcard" type="tns:TableOfBapiccard" minOccurs="0"/>
                        <xsd:element name="OrderCcardEx" type="tns:TableOfBapiccardEx" minOccurs="0"/>
                        <xsd:element name="OrderCfgsBlob" type="tns:TableOfBapicublb" minOccurs="0"/>
                        <xsd:element name="OrderCfgsInst" type="tns:TableOfBapicuins" minOccurs="0"/>
                        <xsd:element name="OrderCfgsPartOf" type="tns:TableOfBapicuprt" minOccurs="0"/>
                        <xsd:element name="OrderCfgsRef" type="tns:TableOfBapicucfg" minOccurs="0"/>
                        <xsd:element name="OrderCfgsValue" type="tns:TableOfBapicuval" minOccurs="0"/>
                        <xsd:element name="OrderConditionEx" type="tns:TableOfBapicond" minOccurs="0"/>
                        <xsd:element name="OrderHeaderIn" type="tns:Bapisdhead"/>
                        <xsd:element name="OrderIncomplete" type="tns:TableOfBapiincomp" minOccurs="0"/>
                        <xsd:element name="OrderItemsIn" type="tns:TableOfBapiitemin"/>
                        <xsd:element name="OrderItemsOut" type="tns:TableOfBapiitemex" minOccurs="0"/>
                        <xsd:element name="OrderPartners" type="tns:TableOfBapipartnr"/>
                        <xsd:element name="OrderScheduleEx" type="tns:TableOfBapisdhedu" minOccurs="0"/>
                        <xsd:element name="OrderScheduleIn" type="tns:TableOfBapischdl" minOccurs="0"/>
                        <xsd:element name="Partneraddresses" type="tns:TableOfBapiaddr1" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SalesorderSimulateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BillingParty" type="tns:Bapipayer"/>
                        <xsd:element name="Extensionin" type="tns:TableOfBapiparex" minOccurs="0"/>
                        <xsd:element name="Messagetable" type="tns:TableOfBapiret2" minOccurs="0"/>
                        <xsd:element name="OrderCcard" type="tns:TableOfBapiccard" minOccurs="0"/>
                        <xsd:element name="OrderCcardEx" type="tns:TableOfBapiccardEx" minOccurs="0"/>
                        <xsd:element name="OrderCfgsBlob" type="tns:TableOfBapicublb" minOccurs="0"/>
                        <xsd:element name="OrderCfgsInst" type="tns:TableOfBapicuins" minOccurs="0"/>
                        <xsd:element name="OrderCfgsPartOf" type="tns:TableOfBapicuprt" minOccurs="0"/>
                        <xsd:element name="OrderCfgsRef" type="tns:TableOfBapicucfg" minOccurs="0"/>
                        <xsd:element name="OrderCfgsValue" type="tns:TableOfBapicuval" minOccurs="0"/>
                        <xsd:element name="OrderConditionEx" type="tns:TableOfBapicond" minOccurs="0"/>
                        <xsd:element name="OrderIncomplete" type="tns:TableOfBapiincomp" minOccurs="0"/>
                        <xsd:element name="OrderItemsIn" type="tns:TableOfBapiitemin"/>
                        <xsd:element name="OrderItemsOut" type="tns:TableOfBapiitemex" minOccurs="0"/>
                        <xsd:element name="OrderPartners" type="tns:TableOfBapipartnr"/>
                        <xsd:element name="OrderScheduleEx" type="tns:TableOfBapisdhedu" minOccurs="0"/>
                        <xsd:element name="OrderScheduleIn" type="tns:TableOfBapischdl" minOccurs="0"/>
                        <xsd:element name="Partneraddresses" type="tns:TableOfBapiaddr1" minOccurs="0"/>
                        <xsd:element name="Return" type="tns:Bapireturn"/>
                        <xsd:element name="Salesdocument" type="n0:char10"/>
                        <xsd:element name="ShipToParty" type="tns:Bapishipto"/>
                        <xsd:element name="SoldToParty" type="tns:Bapisoldto"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SalesorderSimulate">
        <wsdl:part name="parameters" element="tns:SalesorderSimulate"/>
    </wsdl:message>
    <wsdl:message name="SalesorderSimulateResponse">
        <wsdl:part name="parameter" element="tns:SalesorderSimulateResponse"/>
    </wsdl:message>
    <wsdl:portType name="z_Bapi_Salesorder_Simulate">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__z_Bapi_Salesorder_Simulate"/>
        </wsp:Policy>
        <wsdl:operation name="SalesorderSimulate">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__SalesorderSimulate"/>
            </wsp:Policy>
            <wsdl:input message="tns:SalesorderSimulate"/>
            <wsdl:output message="tns:SalesorderSimulateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Z_BAPI_SALESORDER_SIMULATE" type="tns:z_Bapi_Salesorder_Simulate">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_BAPI_SALESORDER_SIMULATE"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="SalesorderSimulate">
            <soap:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:z_Bapi_Salesorder_Simulate:SalesorderSimulateRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Z_BAPI_SALESORDER_SIMULATE_soap12" type="tns:z_Bapi_Salesorder_Simulate">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_BAPI_SALESORDER_SIMULATE_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="SalesorderSimulate">
            <wsoap12:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:z_Bapi_Salesorder_Simulate:SalesorderSimulateRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Z_BAPI_SALESORDER_SIMULATE">
        <wsdl:port name="Z_BAPI_SALESORDER_SIMULATE" binding="tns:Z_BAPI_SALESORDER_SIMULATE">
            <soap:address
                    location="http://vhhdkqs4ci.sap.handok.co.kr:8000/sap/bc/srt/rfc/sap/z_bapi_salesorder_simulate/100/z_bapi_salesorder_simulate/z_bapi_salesorder_simulate"/>
        </wsdl:port>
        <wsdl:port name="Z_BAPI_SALESORDER_SIMULATE_soap12" binding="tns:Z_BAPI_SALESORDER_SIMULATE_soap12">
            <wsoap12:address
                    location="http://vhhdkqs4ci.sap.handok.co.kr:8000/sap/bc/srt/rfc/sap/z_bapi_salesorder_simulate/100/z_bapi_salesorder_simulate/z_bapi_salesorder_simulate"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>