src/main/resources/wsdl/z_bapi_ar_acc_getopenitems.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__Z_BAPI_AR_ACC_GETOPENITEMS">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__Z_BAPI_AR_ACC_GETOPENITEMS_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__Z_BAPI_AR_ACC_GETOPENITEMS">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration
                        xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                        wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>0022486C65F91EEDB9919407D04201A4
                    </sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ArAccGetopenitems">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
                </saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
                </sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
                </sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
                </saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions"
                    xmlns:tns="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char11">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="11"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char12">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char16">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char18">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="18"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char220">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="220"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char35">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char60">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="cuky5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal23.4">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="23"/>
                    <xsd:fractionDigits value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal3.0">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="3"/>
                    <xsd:fractionDigits value="0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal5.3">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="5"/>
                    <xsd:fractionDigits value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal7.5">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="7"/>
                    <xsd:fractionDigits value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="lang">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                    xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="Bapi30072">
                <xsd:sequence>
                    <xsd:element name="CompCode" type="n0:char4"/>
                    <xsd:element name="Customer" type="n0:char10"/>
                    <xsd:element name="SpGlInd" type="n0:char1"/>
                    <xsd:element name="ClearDate" type="n0:date10"/>
                    <xsd:element name="ClrDocNo" type="n0:char10"/>
                    <xsd:element name="AllocNmbr" type="n0:char18"/>
                    <xsd:element name="FiscYear" type="n0:numeric4"/>
                    <xsd:element name="DocNo" type="n0:char10"/>
                    <xsd:element name="ItemNum" type="n0:numeric3"/>
                    <xsd:element name="PstngDate" type="n0:date10"/>
                    <xsd:element name="DocDate" type="n0:date10"/>
                    <xsd:element name="EntryDate" type="n0:date10"/>
                    <xsd:element name="Currency" type="n0:cuky5"/>
                    <xsd:element name="LocCurrcy" type="n0:cuky5"/>
                    <xsd:element name="RefDocNo" type="n0:char16"/>
                    <xsd:element name="DocType" type="n0:char2"/>
                    <xsd:element name="FisPeriod" type="n0:numeric2"/>
                    <xsd:element name="PostKey" type="n0:char2"/>
                    <xsd:element name="DbCrInd" type="n0:char1"/>
                    <xsd:element name="BusArea" type="n0:char4"/>
                    <xsd:element name="TaxCode" type="n0:char2"/>
                    <xsd:element name="LcAmount" type="n0:decimal23.4"/>
                    <xsd:element name="AmtDoccur" type="n0:decimal23.4"/>
                    <xsd:element name="LcTax" type="n0:decimal23.4"/>
                    <xsd:element name="TxDocCur" type="n0:decimal23.4"/>
                    <xsd:element name="ItemText" type="n0:char50"/>
                    <xsd:element name="Branch" type="n0:char10"/>
                    <xsd:element name="BlineDate" type="n0:date10"/>
                    <xsd:element name="Pmnttrms" type="n0:char4"/>
                    <xsd:element name="DsctDays1" type="n0:decimal3.0"/>
                    <xsd:element name="DsctDays2" type="n0:decimal3.0"/>
                    <xsd:element name="Netterms" type="n0:decimal3.0"/>
                    <xsd:element name="DsctPct1" type="n0:decimal5.3"/>
                    <xsd:element name="DsctPct2" type="n0:decimal5.3"/>
                    <xsd:element name="DiscBase" type="n0:decimal23.4"/>
                    <xsd:element name="DscAmtLc" type="n0:decimal23.4"/>
                    <xsd:element name="DscAmtDc" type="n0:decimal23.4"/>
                    <xsd:element name="PymtMeth" type="n0:char1"/>
                    <xsd:element name="PmntBlock" type="n0:char1"/>
                    <xsd:element name="Fixedterms" type="n0:char1"/>
                    <xsd:element name="InvRef" type="n0:char10"/>
                    <xsd:element name="InvYear" type="n0:numeric4"/>
                    <xsd:element name="InvItem" type="n0:numeric3"/>
                    <xsd:element name="DunnBlock" type="n0:char1"/>
                    <xsd:element name="DunnKey" type="n0:char1"/>
                    <xsd:element name="LastDunn" type="n0:date10"/>
                    <xsd:element name="DunnLevel" type="n0:numeric1"/>
                    <xsd:element name="DunnArea" type="n0:char2"/>
                    <xsd:element name="DocStatus" type="n0:char1"/>
                    <xsd:element name="NxtDoctyp" type="n0:char1"/>
                    <xsd:element name="VatRegNo" type="n0:char20"/>
                    <xsd:element name="ReasonCde" type="n0:char3"/>
                    <xsd:element name="Pmtmthsupl" type="n0:char2"/>
                    <xsd:element name="RefKey1" type="n0:char12"/>
                    <xsd:element name="RefKey2" type="n0:char12"/>
                    <xsd:element name="TCurrency" type="n0:cuky5"/>
                    <xsd:element name="Amount" type="n0:decimal23.4"/>
                    <xsd:element name="NetAmount" type="n0:decimal23.4"/>
                    <xsd:element name="Name" type="n0:char35"/>
                    <xsd:element name="Name2" type="n0:char35"/>
                    <xsd:element name="Name3" type="n0:char35"/>
                    <xsd:element name="Name4" type="n0:char35"/>
                    <xsd:element name="PostlCode" type="n0:char10"/>
                    <xsd:element name="City" type="n0:char35"/>
                    <xsd:element name="Country" type="n0:char3"/>
                    <xsd:element name="Street" type="n0:char35"/>
                    <xsd:element name="PoBox" type="n0:char10"/>
                    <xsd:element name="PobxPcd" type="n0:char10"/>
                    <xsd:element name="PobkCurac" type="n0:char16"/>
                    <xsd:element name="BankAcct" type="n0:char18"/>
                    <xsd:element name="BankKey" type="n0:char15"/>
                    <xsd:element name="BankCtry" type="n0:char3"/>
                    <xsd:element name="TaxNo1" type="n0:char16"/>
                    <xsd:element name="TaxNo2" type="n0:char11"/>
                    <xsd:element name="Tax" type="n0:char1"/>
                    <xsd:element name="EqualTax" type="n0:char1"/>
                    <xsd:element name="Region" type="n0:char3"/>
                    <xsd:element name="CtrlKey" type="n0:char2"/>
                    <xsd:element name="InstrKey" type="n0:char2"/>
                    <xsd:element name="PayeeCode" type="n0:char16"/>
                    <xsd:element name="Langu" type="n0:lang"/>
                    <xsd:element name="BillLife" type="n0:decimal3.0"/>
                    <xsd:element name="BeTaxcode" type="n0:char1"/>
                    <xsd:element name="BilltaxLc" type="n0:decimal23.4"/>
                    <xsd:element name="BilltaxFc" type="n0:decimal23.4"/>
                    <xsd:element name="LcColChg" type="n0:decimal23.4"/>
                    <xsd:element name="CollCharg" type="n0:decimal23.4"/>
                    <xsd:element name="ChgsTxCd" type="n0:char2"/>
                    <xsd:element name="IssueDate" type="n0:date10"/>
                    <xsd:element name="Usagedate" type="n0:date10"/>
                    <xsd:element name="BillUsage" type="n0:char1"/>
                    <xsd:element name="Domicile" type="n0:char60"/>
                    <xsd:element name="Drawer" type="n0:char30"/>
                    <xsd:element name="CtrbnkLoc" type="n0:char60"/>
                    <xsd:element name="DrawCity1" type="n0:char30"/>
                    <xsd:element name="Drawee" type="n0:char30"/>
                    <xsd:element name="DrawCity2" type="n0:char30"/>
                    <xsd:element name="DisctDays" type="n0:decimal3.0"/>
                    <xsd:element name="DisctRate" type="n0:decimal7.5"/>
                    <xsd:element name="Accepted" type="n0:char1"/>
                    <xsd:element name="Billstatus" type="n0:char1"/>
                    <xsd:element name="PrtestInd" type="n0:char1"/>
                    <xsd:element name="BeDemand" type="n0:char1"/>
                    <xsd:element name="ObjType" type="n0:char5"/>
                    <xsd:element name="RefDoc" type="n0:char10"/>
                    <xsd:element name="RefOrgUn" type="n0:char10"/>
                    <xsd:element name="ReversalDoc" type="n0:char10"/>
                    <xsd:element name="SpGlType" type="n0:char1"/>
                    <xsd:element name="NegPostng" type="n0:char1"/>
                    <xsd:element name="RefDocNoLong" type="n0:char35"/>
                    <xsd:element name="BillDoc" type="n0:char10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapireturn">
                <xsd:sequence>
                    <xsd:element name="Type" type="n0:char1"/>
                    <xsd:element name="Code" type="n0:char5"/>
                    <xsd:element name="Message" type="n0:char220"/>
                    <xsd:element name="LogNo" type="n0:char20"/>
                    <xsd:element name="LogMsgNo" type="n0:numeric6"/>
                    <xsd:element name="MessageV1" type="n0:char50"/>
                    <xsd:element name="MessageV2" type="n0:char50"/>
                    <xsd:element name="MessageV3" type="n0:char50"/>
                    <xsd:element name="MessageV4" type="n0:char50"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapi30072">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Bapi30072" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ArAccGetopenitems">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Companycode" type="n0:char4"/>
                        <xsd:element name="Customer" type="n0:char10"/>
                        <xsd:element name="Keydate" type="n0:date10"/>
                        <xsd:element name="Lineitems" type="tns:TableOfBapi30072"/>
                        <xsd:element name="Noteditems" type="n0:char1" minOccurs="0"/>
                        <xsd:element name="Secindex" type="n0:char1" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ArAccGetopenitemsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Lineitems" type="tns:TableOfBapi30072"/>
                        <xsd:element name="Return" type="tns:Bapireturn"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ArAccGetopenitems">
        <wsdl:part name="parameters" element="tns:ArAccGetopenitems"/>
    </wsdl:message>
    <wsdl:message name="ArAccGetopenitemsResponse">
        <wsdl:part name="parameter" element="tns:ArAccGetopenitemsResponse"/>
    </wsdl:message>
    <wsdl:portType name="Z_BAPI_AR_ACC_GETOPENITEMS">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__Z_BAPI_AR_ACC_GETOPENITEMS"/>
        </wsp:Policy>
        <wsdl:operation name="ArAccGetopenitems">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ArAccGetopenitems"/>
            </wsp:Policy>
            <wsdl:input message="tns:ArAccGetopenitems"/>
            <wsdl:output message="tns:ArAccGetopenitemsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Z_BAPI_AR_ACC_GETOPENITEMS" type="tns:Z_BAPI_AR_ACC_GETOPENITEMS">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_BAPI_AR_ACC_GETOPENITEMS"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ArAccGetopenitems">
            <soap:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_BAPI_AR_ACC_GETOPENITEMS:ArAccGetopenitemsRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Z_BAPI_AR_ACC_GETOPENITEMS_soap12" type="tns:Z_BAPI_AR_ACC_GETOPENITEMS">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_BAPI_AR_ACC_GETOPENITEMS_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ArAccGetopenitems">
            <wsoap12:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_BAPI_AR_ACC_GETOPENITEMS:ArAccGetopenitemsRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Z_BAPI_AR_ACC_GETOPENITEMS">
        <wsdl:port name="Z_BAPI_AR_ACC_GETOPENITEMS" binding="tns:Z_BAPI_AR_ACC_GETOPENITEMS">
            <soap:address
                    location="http://vhhdkqs4ci.sap.handok.co.kr:8000/sap/bc/srt/rfc/sap/z_bapi_ar_acc_getopenitems/100/z_bapi_ar_acc_getopenitems/z_bapi_ar_acc_getopenitems"/>
        </wsdl:port>
        <wsdl:port name="Z_BAPI_AR_ACC_GETOPENITEMS_soap12" binding="tns:Z_BAPI_AR_ACC_GETOPENITEMS_soap12">
            <wsoap12:address
                    location="http://vhhdkqs4ci.sap.handok.co.kr:8000/sap/bc/srt/rfc/sap/z_bapi_ar_acc_getopenitems/100/z_bapi_ar_acc_getopenitems/z_bapi_ar_acc_getopenitems"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>