src/main/resources/wsdl/zfi_credit_detail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__ZFI_CREDIT_DETAIL">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZFI_CREDIT_DETAIL_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZFI_CREDIT_DETAIL">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration
                        xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                        wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>0022486C65F91EEDB9919407D04201A4
                    </sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZfiCreditDetail">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
                </saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
                </sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
                </sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
                </saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions"
                    xmlns:tns="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char11">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="11"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char220">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="220"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char25">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                    xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="Bapireturn1">
                <xsd:sequence>
                    <xsd:element name="Type" type="n0:char1"/>
                    <xsd:element name="Id" type="n0:char20"/>
                    <xsd:element name="Number" type="n0:numeric3"/>
                    <xsd:element name="Message" type="n0:char220"/>
                    <xsd:element name="LogNo" type="n0:char20"/>
                    <xsd:element name="LogMsgNo" type="n0:numeric6"/>
                    <xsd:element name="MessageV1" type="n0:char50"/>
                    <xsd:element name="MessageV2" type="n0:char50"/>
                    <xsd:element name="MessageV3" type="n0:char50"/>
                    <xsd:element name="MessageV4" type="n0:char50"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Zsfi013">
                <xsd:sequence>
                    <xsd:element name="Kunnr" type="n0:char10"/>
                    <xsd:element name="Name1" type="n0:char30"/>
                    <xsd:element name="Kkber" type="n0:char4"/>
                    <xsd:element name="Currency" type="n0:char5"/>
                    <xsd:element name="Klimk" type="n0:char25"/>
                    <xsd:element name="Skfor" type="n0:char25"/>
                    <xsd:element name="Ssobl" type="n0:char25"/>
                    <xsd:element name="Klprz" type="n0:char8"/>
                    <xsd:element name="OpenDelivery" type="n0:char25"/>
                    <xsd:element name="Oblig" type="n0:char25"/>
                    <xsd:element name="Absbt" type="n0:char25"/>
                    <xsd:element name="Ctlpc" type="n0:char3"/>
                    <xsd:element name="Crblb" type="n0:char1"/>
                    <xsd:element name="Sbgrp" type="n0:char3"/>
                    <xsd:element name="Grupp" type="n0:char4"/>
                    <xsd:element name="Kdgrp" type="n0:char8"/>
                    <xsd:element name="Sbdat" type="n0:date10"/>
                    <xsd:element name="Dtrev" type="n0:date10"/>
                    <xsd:element name="Nxtrv" type="n0:date10"/>
                    <xsd:element name="Kraus" type="n0:char11"/>
                    <xsd:element name="Dbpay" type="n0:char3"/>
                    <xsd:element name="Revdb" type="n0:date10"/>
                    <xsd:element name="Dbrtg" type="n0:char5"/>
                    <xsd:element name="Dbmon" type="n0:date10"/>
                    <xsd:element name="Dbekr" type="n0:char25"/>
                    <xsd:element name="Zterm" type="n0:char4"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZfiCreditDetail">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Bukrs" type="n0:char4" minOccurs="0"/>
                        <xsd:element name="Kkber" type="n0:char4" minOccurs="0"/>
                        <xsd:element name="Kunnr" type="n0:char10" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZfiCreditDetailResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Return" type="tns:Bapireturn1"/>
                        <xsd:element name="Zsfi013" type="tns:Zsfi013"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZfiCreditDetail">
        <wsdl:part name="parameters" element="tns:ZfiCreditDetail"/>
    </wsdl:message>
    <wsdl:message name="ZfiCreditDetailResponse">
        <wsdl:part name="parameter" element="tns:ZfiCreditDetailResponse"/>
    </wsdl:message>
    <wsdl:portType name="ZFI_CREDIT_DETAIL">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZFI_CREDIT_DETAIL"/>
        </wsp:Policy>
        <wsdl:operation name="ZfiCreditDetail">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZfiCreditDetail"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZfiCreditDetail"/>
            <wsdl:output message="tns:ZfiCreditDetailResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZFI_CREDIT_DETAIL" type="tns:ZFI_CREDIT_DETAIL">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZFI_CREDIT_DETAIL"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZfiCreditDetail">
            <soap:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZFI_CREDIT_DETAIL:ZfiCreditDetailRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZFI_CREDIT_DETAIL_soap12" type="tns:ZFI_CREDIT_DETAIL">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZFI_CREDIT_DETAIL_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZfiCreditDetail">
            <wsoap12:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZFI_CREDIT_DETAIL:ZfiCreditDetailRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZFI_CREDIT_DETAIL">
        <wsdl:port name="ZFI_CREDIT_DETAIL" binding="tns:ZFI_CREDIT_DETAIL">
            <soap:address
                    location="http://vhhdkqs4ci.sap.handok.co.kr:8000/sap/bc/srt/rfc/sap/zfi_credit_detail/100/zfi_credit_detail/zfi_credit_detail"/>
        </wsdl:port>
        <wsdl:port name="ZFI_CREDIT_DETAIL_soap12" binding="tns:ZFI_CREDIT_DETAIL_soap12">
            <wsoap12:address
                    location="http://vhhdkqs4ci.sap.handok.co.kr:8000/sap/bc/srt/rfc/sap/zfi_credit_detail/100/zfi_credit_detail/zfi_credit_detail"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>