src/main/resources/wsdl/zfi_search_customer_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__ZFI_SEARCH_CUSTOMER_WS">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZFI_SEARCH_CUSTOMER_WS_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZFI_SEARCH_CUSTOMER_WS">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration
                        xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                        wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>0022486C65F91EEDB9919407D04201A4
                    </sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZfiSearchCustomer">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
                </saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
                </sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
                </sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
                </saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions"
                    xmlns:tns="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char25">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char35">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                    xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char11">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="11"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char16">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char241">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="241"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char25">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char35">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Zsfi027">
                <xsd:sequence>
                    <xsd:element name="Kunnr" type="n0:char10"/>
                    <xsd:element name="Name1" type="n0:char35"/>
                    <xsd:element name="Stcd2" type="tns:char11"/>
                    <xsd:element name="Ktokd" type="tns:char4"/>
                    <xsd:element name="Mcod1" type="tns:char25"/>
                    <xsd:element name="Name4" type="tns:char30"/>
                    <xsd:element name="Pfach" type="tns:char10"/>
                    <xsd:element name="Pstl2" type="tns:char10"/>
                    <xsd:element name="Xblocked" type="tns:char1"/>
                    <xsd:element name="Vtweg" type="tns:char2"/>
                    <xsd:element name="Spart" type="tns:char2"/>
                    <xsd:element name="Ort01" type="tns:char35"/>
                    <xsd:element name="Stras" type="tns:char35"/>
                    <xsd:element name="Pstlz" type="tns:char10"/>
                    <xsd:element name="Telf1" type="tns:char16"/>
                    <xsd:element name="SmtpAddr" type="tns:char241"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfZsfi027">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Zsfi027" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZfiSearchCustomer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IGubun" type="n0:char1" minOccurs="0"/>
                        <xsd:element name="IValue" type="n0:char25" minOccurs="0"/>
                        <xsd:element name="TData" type="tns:TableOfZsfi027" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZfiSearchCustomerResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RCode" type="n0:char1"/>
                        <xsd:element name="RMessage" type="tns:char50"/>
                        <xsd:element name="TData" type="tns:TableOfZsfi027" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZfiSearchCustomer">
        <wsdl:part name="parameters" element="tns:ZfiSearchCustomer"/>
    </wsdl:message>
    <wsdl:message name="ZfiSearchCustomerResponse">
        <wsdl:part name="parameter" element="tns:ZfiSearchCustomerResponse"/>
    </wsdl:message>
    <wsdl:portType name="ZFI_SEARCH_CUSTOMER_WS">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZFI_SEARCH_CUSTOMER_WS"/>
        </wsp:Policy>
        <wsdl:operation name="ZfiSearchCustomer">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZfiSearchCustomer"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZfiSearchCustomer"/>
            <wsdl:output message="tns:ZfiSearchCustomerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZFI_SEARCH_CUSTOMER_WS" type="tns:ZFI_SEARCH_CUSTOMER_WS">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZFI_SEARCH_CUSTOMER_WS"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZfiSearchCustomer">
            <soap:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZFI_SEARCH_CUSTOMER_WS:ZfiSearchCustomerRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZFI_SEARCH_CUSTOMER_WS_soap12" type="tns:ZFI_SEARCH_CUSTOMER_WS">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZFI_SEARCH_CUSTOMER_WS_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZfiSearchCustomer">
            <wsoap12:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZFI_SEARCH_CUSTOMER_WS:ZfiSearchCustomerRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZFI_SEARCH_CUSTOMER_WS">
        <wsdl:port name="ZFI_SEARCH_CUSTOMER_WS" binding="tns:ZFI_SEARCH_CUSTOMER_WS">
            <soap:address
                    location="http://vhhdkqs4ci.sap.handok.co.kr:8000/sap/bc/srt/rfc/sap/zfi_search_customer_ws/100/zfi_search_customer_ws/zfi_search_customer_ws"/>
        </wsdl:port>
        <wsdl:port name="ZFI_SEARCH_CUSTOMER_WS_soap12" binding="tns:ZFI_SEARCH_CUSTOMER_WS_soap12">
            <wsoap12:address
                    location="http://vhhdkqs4ci.sap.handok.co.kr:8000/sap/bc/srt/rfc/sap/zfi_search_customer_ws/100/zfi_search_customer_ws/zfi_search_customer_ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>