src/main/resources/wsdl/zsd_delivery_note_so.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__ZSD_DELIVERY_NOTE_SO">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZSD_DELIVERY_NOTE_SO_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZSD_DELIVERY_NOTE_SO">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration
                        xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                        wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>0022486C65F91EEDB9919407D04201A4
                    </sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZsdDeliveryNoteSo">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
                </saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
                </sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
                </sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
                </saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions"
                    xmlns:tns="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char11">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="11"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char13">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="13"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char132">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="132"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char14">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="14"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char16">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char18">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="18"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char25">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char35">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char60">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="cuky5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr11.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="11"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr13.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="13"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr14.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="14"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr15.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="15"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr16.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr17.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="17"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="lang">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="quantum13.3">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="13"/>
                    <xsd:fractionDigits value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="unit3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                    xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="Zssd007">
                <xsd:sequence>
                    <xsd:element name="Posnr" type="n0:numeric6"/>
                    <xsd:element name="Matnr" type="n0:char18"/>
                    <xsd:element name="Arktx" type="n0:char40"/>
                    <xsd:element name="Lfimg" type="n0:quantum13.3"/>
                    <xsd:element name="Charg" type="n0:char10"/>
                    <xsd:element name="Vfdat" type="n0:date10"/>
                    <xsd:element name="Vrkme" type="n0:unit3"/>
                    <xsd:element name="Lfimgc" type="n0:char10"/>
                    <xsd:element name="Uecha" type="n0:numeric6"/>
                    <xsd:element name="Vgbel" type="n0:char10"/>
                    <xsd:element name="Cvfdat" type="n0:char10"/>
                    <xsd:element name="Cno3" type="n0:char3"/>
                    <xsd:element name="Kdmat" type="n0:char35"/>
                    <xsd:element name="Licha" type="n0:char15"/>
                    <xsd:element name="Empst" type="n0:char25"/>
                    <xsd:element name="Vgpos" type="n0:numeric6"/>
                    <xsd:element name="Netwr" type="n0:curr15.2"/>
                    <xsd:element name="Mwsbp" type="n0:curr13.2"/>
                    <xsd:element name="Netpr" type="n0:curr11.2"/>
                    <xsd:element name="Netprc" type="n0:char10"/>
                    <xsd:element name="Netwrc" type="n0:char11"/>
                    <xsd:element name="Mwsbpc" type="n0:char10"/>
                    <xsd:element name="Kulab" type="n0:quantum13.3"/>
                    <xsd:element name="Kulabc" type="n0:char10"/>
                    <xsd:element name="Werks" type="n0:char4"/>
                    <xsd:element name="Idnlf" type="n0:char35"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Zssd006">
                <xsd:sequence>
                    <xsd:element name="Vbeln" type="n0:char10"/>
                    <xsd:element name="Bldat" type="n0:date10"/>
                    <xsd:element name="Auart" type="n0:char4"/>
                    <xsd:element name="Name1" type="n0:char35"/>
                    <xsd:element name="City1" type="n0:char40"/>
                    <xsd:element name="TelNumber" type="n0:char30"/>
                    <xsd:element name="Cbldat" type="n0:char10"/>
                    <xsd:element name="Cdatum" type="n0:char10"/>
                    <xsd:element name="Vgbel" type="n0:char10"/>
                    <xsd:element name="Street" type="n0:char60"/>
                    <xsd:element name="StreetCity" type="n0:char100"/>
                    <xsd:element name="NoAuart" type="n0:char16"/>
                    <xsd:element name="_--30004Text1" type="n0:char132"/>
                    <xsd:element name="_--30004Text2" type="n0:char132"/>
                    <xsd:element name="_--30004Text3" type="n0:char132"/>
                    <xsd:element name="_--30004Text4" type="n0:char132"/>
                    <xsd:element name="_--30004Text" type="n0:char30"/>
                    <xsd:element name="_--30011Text" type="n0:char30"/>
                    <xsd:element name="Pstlz" type="n0:char10"/>
                    <xsd:element name="Land1" type="n0:char3"/>
                    <xsd:element name="PostTel" type="n0:char40"/>
                    <xsd:element name="Spras" type="n0:lang"/>
                    <xsd:element name="Cuzeit" type="n0:char5"/>
                    <xsd:element name="VbelnKunnr" type="n0:char20"/>
                    <xsd:element name="Waerk" type="n0:cuky5"/>
                    <xsd:element name="Gnetwr" type="n0:curr16.2"/>
                    <xsd:element name="Gmwsbp" type="n0:curr14.2"/>
                    <xsd:element name="Gtotal" type="n0:curr17.2"/>
                    <xsd:element name="Gnetwrc" type="n0:char14"/>
                    <xsd:element name="Gmwsbpc" type="n0:char13"/>
                    <xsd:element name="Gtotalc" type="n0:char14"/>
                    <xsd:element name="Kunnr" type="n0:char10"/>
                    <xsd:element name="Kunag" type="n0:char10"/>
                    <xsd:element name="Kuenr" type="n0:char10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfZssd007">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Zssd007" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZsdDeliveryNoteSo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="GtTab" type="tns:TableOfZssd007" minOccurs="0"/>
                        <xsd:element name="Vbeln" type="n0:char10" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZsdDeliveryNoteSoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="GsHead" type="tns:Zssd006"/>
                        <xsd:element name="GtTab" type="tns:TableOfZssd007" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZsdDeliveryNoteSo">
        <wsdl:part name="parameters" element="tns:ZsdDeliveryNoteSo"/>
    </wsdl:message>
    <wsdl:message name="ZsdDeliveryNoteSoResponse">
        <wsdl:part name="parameter" element="tns:ZsdDeliveryNoteSoResponse"/>
    </wsdl:message>
    <wsdl:portType name="ZSD_DELIVERY_NOTE_SO">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZSD_DELIVERY_NOTE_SO"/>
        </wsp:Policy>
        <wsdl:operation name="ZsdDeliveryNoteSo">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZsdDeliveryNoteSo"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZsdDeliveryNoteSo"/>
            <wsdl:output message="tns:ZsdDeliveryNoteSoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZSD_DELIVERY_NOTE_SO" type="tns:ZSD_DELIVERY_NOTE_SO">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZSD_DELIVERY_NOTE_SO"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZsdDeliveryNoteSo">
            <soap:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZSD_DELIVERY_NOTE_SO:ZsdDeliveryNoteSoRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZSD_DELIVERY_NOTE_SO_soap12" type="tns:ZSD_DELIVERY_NOTE_SO">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZSD_DELIVERY_NOTE_SO_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZsdDeliveryNoteSo">
            <wsoap12:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZSD_DELIVERY_NOTE_SO:ZsdDeliveryNoteSoRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZSD_DELIVERY_NOTE_SO">
        <wsdl:port name="ZSD_DELIVERY_NOTE_SO" binding="tns:ZSD_DELIVERY_NOTE_SO">
            <soap:address
                    location="http://vhhdkqs4ci.sap.handok.co.kr:8000/sap/bc/srt/rfc/sap/zsd_delivery_note_so/100/zsd_delivery_note_so/zsd_delivery_note_so"/>
        </wsdl:port>
        <wsdl:port name="ZSD_DELIVERY_NOTE_SO_soap12" binding="tns:ZSD_DELIVERY_NOTE_SO_soap12">
            <wsoap12:address
                    location="http://vhhdkqs4ci.sap.handok.co.kr:8000/sap/bc/srt/rfc/sap/zsd_delivery_note_so/100/zsd_delivery_note_so/zsd_delivery_note_so"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>